apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: unifi
type: Opaque
data:
  root_user: cm9vdHVzZXI=
  root_pass: cm9vdHBhc3M=
  mongo_user: bW9uZ291c2Vy
  mongo_pass: bW9uZ29wYXNz
