---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: unifi
  labels:
    app: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      namespace: unifi
      labels:
        app: mongodb
    spec:
      nodeSelector:
        topology.kubernetes.io/zone: pve2
      securityContext:
        runAsNonRoot: false
        # runAsNonRoot: true
        # runAsUser: 999
        # runAsGroup: 999
        # fsGroup: 999
        # fsGroupChangePolicy: OnRootMismatch
        # seccompProfile:
        #   type: RuntimeDefault
      containers:
        - name: mongodb
          image: docker.io/mongo:7.0.20@sha256:8314e0ad07eae2dc8ffbd7de5080a7083f41caab62ae0b69363187af5e3b512a
          # securityContext:
          #   allowPrivilegeEscalation: false
          #   readOnlyRootFilesystem: false
          #   capabilities:
          #     drop: [ "ALL" ]
          ports:
            - name: mongodb
              containerPort: 27017
          env:
            - name: PUID
              value: '999'
            - name: PGID
              value: '999'
            - name: TZ
              value: Europe/Berlin
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
            limits:
              cpu: 500m
              memory: 500Mi
          volumeMounts:
            - name: mongodb-init
              mountPath: /docker-entrypoint-initdb.d/init-mongo.js
              subPath: init-mongo.js
              readOnly: true
            - name: mongodb-data
              mountPath: /data/db
      volumes:
        - name: mongodb-init
          configMap:
            name: mongodb-init
        - name: mongodb-data
          persistentVolumeClaim:
            claimName: mongodb-data
