---

environments:
  head:
    kubeContext: {{ printf "admin@%s-homelab" .Environment.Name }}
  qa:
    kubeContext: {{ printf "admin@%s-homelab" .Environment.Name }}
  dev:
    kubeContext: {{ printf "admin@%s-homelab" .Environment.Name }}
  src:
    kubeContext: {{ printf "admin@%s-homelab" .Environment.Name }}
  poc:
    kubeContext: {{ printf "admin@%s-homelab" .Environment.Name }}
  rebuild:
    kubeContext: {{ printf "admin@%s-homelab" .Environment.Name }}
  prod:
    kubeContext: {{ printf "admin@%s-homelab" .Environment.Name }}
  dbg:
    kubeContext: {{ printf "admin@%s-homelab" .Environment.Name }}

---
# yaml-language-server: $schema=https://json.schemastore.org/helmfile

helmDefaults:
  cleanupOnFail: true
  wait: true
  waitForJobs: true

releases:
  - name: flux-operator
    namespace: flux-system
    chart: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator
    version: 0.57.0
    values:
      - ../infra/controller/flux-operator/base/values.yaml

  - name: flux-instance
    namespace: flux-system
    chart: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
    version: 0.58.0
    wait: false
    values:
      - ../infra/controller/flux-instance/base/values.yaml
      - ../infra/controller/flux-instance/envs/{{ .Environment.Name }}/env-values.yaml 
    needs:
      - flux-system/flux-operator