apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssh
  namespace: ssh
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: ssh
          image: lscr.io/linuxserver/openssh-server:latest@sha256:697d980725e9ca08bbec7531f3052dbc540a1889aa2c39b24fb82248b7799a1d
